google-api-core
google-api-python-client
google-auth
google-auth-httplib2
streamlit
pandas
matplotlib
shap
plotly
seaborn
numpy
streamlit-aggrid
streamlit-elements
dotenv
markdownlit
streamlit-extras
